<%- include('../partials/header') %>
    <h1>Register</h1>
    <% if (error) { %>
        <p class="error">
            <%= error %>
        </p>
        <% } %>
            <form method="POST" action="/register">
                <input name="username" placeholder="Username" required/>
                <input name="email" placeholder="Email" type="email" required/>
                <input name="phone" placeholder="Phone" />
                <input name="password" placeholder="Password" type="password" required/>
                <button>Register</button>
            </form>
            <%- include('../partials/footer') %>