# Node modules
node_modules/

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env

# OS files
.DS_Store
Thumbs.db

# Build output
dist/
build/

# Temporary files
*.tmp
*.temp

# Editor/IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Database JSON files
*.json
!*.json.sample   # Giữ lại file JSON mẫu để dev biết cấu trúc

# Mac/Linux swap files
*~
